/* Estilos gerais do container de matérias */
#materias-container {
    padding: 20px;
}

/* Estilos para a matéria */
.materia {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a; /* Cor do texto da matéria */
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid #ccc; /* Linha separadora */
    transition: background-color 0.3s; /* Transição suave */
}

.materia:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

/* Estilos para os assuntos */
.assuntos-container {
    padding-left: 20px; /* Indentação para assuntos */
    margin-bottom: 20px; /* Espaçamento abaixo do container de assuntos */
}

.assunto {
    font-size: 1.2em;
    color: #007BFF; /* Cor do texto dos assuntos */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    padding: 10px; /* Espaçamento interno */
    margin: 5px; /* Margem */
    transition: background-color 0.3s; /* Transição suave */
}

.assunto:hover {
    background-color: #f0f8ff; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o botão de voltar */
.voltar-button {
    background-color: #6c757d; /* Cor do fundo do botão */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 0; /* Espaçamento */
    transition: background-color 0.3s; /* Transição suave */
}

.voltar-button:hover {
    background-color: #5a6268; /* Cor ao passar o mouse */
}

/* Estilo do modal de carregamento */
.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Colocar acima de outros elementos */
}

#loadingModal {
    display: none; /* Estilo padrão para ocultar o modal de loading */
}

/* Estilos do SweetAlert */
.swal2-popup {
    border-radius: 10px; /* Arredondar os cantos do modal */
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

.swal2-title {
    font-size: 1.5em; /* Aumenta o tamanho do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.swal2-html {
    text-align: left; /* Alinha o texto à esquerda */
}

.swal2-confirm,
.swal2-cancel {
    border-radius: 5px; /* Arredondar os botões */
    padding: 10px 20px; /* Adiciona espaço interno aos botões */
}

.swal2-container p {
    margin-bottom: 10px; /* Margem abaixo dos parágrafos */
}
