@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* Cores */
:root {
    --orange: #EB8317;
    --darkblue: #10375C;
    --yellow: #F3C623;
    --white: #F4F6FF;
    --light-gray: #f0f0f0;
    --blue: #0056b3;
}

/* Estilo Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    user-select: none;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* Header */
header {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--orange);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo-3bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

#logo {
    height: 70px;
    width: 90px;
}

#email-div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#email-div i {
    font-size: 2.5rem;
}

#logout {
    cursor: pointer;
    font-size: 1.5rem;
}

.logo-3bar img {
    width: 40%;
    height: auto;
}

.logo-3bar i {
    cursor: pointer;
}

.nav-header {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: white;
}

.nav-header i {
    cursor: pointer;
    font-size: 1.2rem;
}

/* Main */
main {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Barra Lateral */
.nav-bar-left {
    height: 93vh;
    width: 15vw; 
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.nav-bar-left.collapsed {
    width: 5vw; 
}

.nav-bar-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-bar-left a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border-bottom: 2px solid var(--white);
}

.nav-bar-left.collapsed a span {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.nav-bar-left a span {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.nav-bar-left a:hover {
    background-color: var(--orange);
}

.nav-bar-left a i {
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.nav-bar-left.collapsed a i {
    margin-right: 0;
}

.nav-bar-left a:hover i {
    transform: scale(1.1);
}

/* Opções da Barra Lateral */
.option {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
}

.option i {
    font-size: 1.8rem;
}

.option span {
    font-size: 1rem;
}

/* Conteúdo Principal */
.content {
    overflow-y: auto;
    width: 95vw; 
    padding: 20px;
    transition: width 0.3s ease-in-out; /* Adiciona uma transição suave */
    margin-bottom: 4.5rem;
    margin-left: 2.5rem;
}

.content.collapsed {
    width: 85vw;
}

/* Seções de Matérias */
.category {
    margin-bottom: 2rem; /* Espaçamento entre as seções */
}

.category h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: var(--darkblue);
    border-bottom: 2px solid var(--orange); /* Adiciona uma borda inferior */
    padding-bottom: 5px; /* Espaçamento entre o título e a borda */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ajusta o mínimo para 180px */
    gap: 1rem; /* Espaçamento entre os cards */
    margin-bottom: 40px;
}

.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Bordas mais arredondadas */
    padding: 20px;
    background-color: var(--light-gray); /* Fundo claro para os cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves */
    cursor: pointer;
}

.subject:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.subject p {
    font-size: 1rem; /* Aumenta o tamanho da fonte */
    color: var(--darkblue);
    font-weight: bold; /* Mantém o texto em negrito */
}

.subject i {
    font-size: 3rem; /* Aumenta o tamanho do ícone */
    color: var(--blue); /* Cor dos ícones */
}
