:root {
    --orange: #EB8317;
    --darkblue: #10375C;
    --yellow: #F3C623;
    --white: #F4F6FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    user-select: none;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* header */
header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: var(--orange);
    justify-content: space-between;
    align-items: center;
}

.logo-3bar {
    padding-left: 1.5rem;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    gap: 0.5rem;  
    background-color: var(--orange);
}
#logo{
    height: 70px;
    width: 90px;
}

#email-div{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
#email-div i {
    font-size: 2.5rem;
}
#logout {
    cursor: pointer;
    font-size: 1.5rem;
}
.logo-3bar img {
    width: 40%;
    height: auto;
}

.logo-3bar i {
    cursor: pointer;
}

.nav-header {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: white;
}

.nav-header i {
    cursor: pointer;
    font-size: 1.2rem;
}
main {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Ajustar o conteúdo para ocupar o restante do espaço ao lado da barra lateral */
.content {
    overflow-y: auto;
    width: 95vw; 
    padding: 20px;
    transition: width 0.3s ease-in-out; /* Adiciona uma transição suave */
    margin-bottom: 4.5rem;
    margin-left: 2.5rem;
}

.content.collapsed {
    width: 85vw;
}

/* Barra lateral */
.nav-bar-left {
    height: 93vh;
    width: 15vw; /* Largura padrão */
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.nav-bar-left.collapsed {
    width: 5vw; /* Largura colapsada */
}

.nav-bar-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-bar-left a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border-bottom: 2px solid var(--white);
}

.nav-bar-left.collapsed a span {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.nav-bar-left a span {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.nav-bar-left a:hover {
    background-color: var(--orange);
}

.nav-bar-left a i {
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.nav-bar-left.collapsed a i {
    margin-right: 0;
}

.nav-bar-left a:hover i {
    transform: scale(1.1);
}

/* Opções da barra lateral */
.option {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--gray);
    transition: background-color 0.3s ease;
}

.option i {
    font-size: 1.8rem;
}

.option span {
    font-size: 1rem;
}

/* Adição da seção de matérias */
.category h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    gap: 4rem;
    margin-bottom: 40px;
}

.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 17em;
    height: 17em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    cursor: pointer;
}

.subject:hover {
    transform: translateY(-5px);
}

.subject p {
    font-size: 1rem;
    color: var(--orange);
    font-weight: bold;
}

.subject i {
    font-size: 9rem;
    color: var(--darkblue);
}

