/* Estilos gerais do container de matérias */
#materias-container {
    padding: 20px;
}

/* Estilos para a matéria */
.materia {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    transition: background-color 0.3s;
}

.materia:hover {
    background-color: #f0f0f0;
}

/* Estilos para os assuntos */
.assuntos-container {
    padding-left: 20px;
    margin-bottom: 20px;
}

.assunto {
    font-size: 1.2em;
    color: #007BFF;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.3s;
}

.assunto:hover {
    background-color: #f0f8ff;
}

/* Estilos para o botão de voltar */
.voltar-button {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.voltar-button:hover {
    background-color: #5a6268;
}

/* Estilo do modal de carregamento */
.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadingModal {
    display: none;
}

/* Estilos do SweetAlert */
.swal2-popup {
    border-radius: 10px;
    padding: 20px;
}

.swal2-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.swal2-html {
    text-align: left;
}

.swal2-confirm,
.swal2-cancel {
    border-radius: 5px;
    padding: 10px 20px;
}

.swal2-container p {
    margin-bottom: 10px;
}
